.wrapper{
	height: 800px;
	width: 800px;
	margin: 0 auto;
	outline: 2px solid black;
}

.flex_row{
	display: flex;
	
}

.flex_row .col {
	flex: 1;
	outline: 2px solid blue;
}

.title {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	background: skyblue;
	height: 100px;
}

.flex_center{
	display: flex;
	justify-content: center;
	align-items: center;
}

.temp{
	height: 300px;
}

.icon_area{
	height: 300px;
}


@media (max-width: 700px) {
	.wrapper{
		width: 100%;
		margin: 0;
	}
	.flex_row{
		display: block;
	}
}

